{% extends 'main.html' %}
{% load static %}
{% load static tailwind_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mission_plan/style.css' %}">
{% endblock %}

{% block content %} 
{#    todo add scrolling #}
    <div
        id="mission_plan_sidebar"
            x-data="{
            openPlanModal: false,
            latitude: '',
            longitude: '',
            selectedPass: null,
            configuration: {      // Configuration details
            orbitingSatellite: null,   // Selected satellite ID
            minElevation: 10,          // Minimum elevation in degrees
            predictionDays: 5,         // Prediction days
            sunIllumination: false,    // Sun illumination preference
        },
        trajectory: null, // Computed trajectory
        saveToDatabase() {
            if (this.trajectory && this.configuration.orbitingSatellite) {

                // Prepare payload for saving to database
                fetch('/api/save_mission_plan/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}', // Handle CSRF token appropriately
                    },
                    body: JSON.stringify({
                        latitude: this.latitude,
                        longitude: this.longitude,
                        selectedPass: this.selectedPass,
                        trajectory: this.trajectory,
                        configuration: this.configuration,
                    }),
                })
                .then(response => {
                    if (response.ok) {
                        alert('Mission plan saved successfully!');
                        this.resetFields();
                        window.location.reload();
                    } else {
                        alert('Error saving mission plan.');
                    }
                })
                .catch(err => {
                    console.error('Failed to save mission plan:', err);
                });
            } else {
                alert('Configuration is incomplete. Please calculate trajectory before saving.');
            }
        },
        resetFields() {
            this.selectedPass = null;
            this.trajectory = null;
            this.configuration = {
                orbitingSatellite: null,
                minElevation: 10,
                predictionDays: 5,
                sunIllumination: false,
            };
            this.openPlanModal = false;
            window.location.reload();
        },
            openModal() {
                this.latitude = document.getElementById('latitude').value;
                this.longitude = document.getElementById('longitude').value;
                this.openPlanModal = true;
            }
         }"
         class="h-[100%] w-[20vw] p-2 flex flex-col bg-white rounded-[10px] items-stretch shadow-sm">

        <div id="picked-location"
             class=" p-2 flex flex-col  rounded-[10px] bg-gray-50">
            <h2 class="font-bold text-xl">{{ GS.name }}</h2>
            <label for="latitude" class="text-gray-600 font-semibold">Latitude:</label>
            <input id="latitude" type="text" value="{{ GS.latitude }}" placeholder="Latitude"
                   class="text-input">

            <label for="longitude" class="text-gray-600 font-semibold">Longitude:</label>
            <input id="longitude" type="text" value="{{ GS.longitude }}" placeholder="Longitude"
                   class="text-input">

            <div class="text-button mt-2" @click="openModal()">Plan</div>
        </div>

        <div class="mt-4 p-2 flex flex-col  rounded-[10px] bg-rifleBlue-100 border border-rifleBlue-500"
             x-cloak
             x-show="selectedPass !== null">
            <h2 class="font-bold text-xl">Mission Plan</h2>
            <div id="mission-plan-container" class="flex flex-col p-2 overflow-y-auto space-y-4">
                <div class=" w-full flex flex-col items-center justify-center">
                    <h4 class="text-gray-700 text-lg font-semibold font-poppins">Would you like to save the
                        current mission plan?</h4>
                </div>
            </div>
            <div class=" mt-1 flex justify-end space-x-2">
                <button type="button"
                        @click="resetFields()"
                        class="px-4 py-2 bg-red-300 text-red-700 rounded hover:bg-red-500 rounded-[10px]">
                    Cancel
                </button>
                <button type="button"
                    @click="saveToDatabase()"
                    class=" text-button bg-rifleBlue-500 hover:bg-rifleBlue-600">
                Save
            </button>
            </div>

        </div>

        <!-- Plan Modal -->
        <div x-show="openPlanModal"
             @keydown.escape.window="openPlanModal = false"
             @click="(e) => {
                if (!e.target.closest('.select2-container') && !e.target.closest('#orbiting-satellites')) {
                    openPlanModal = false
                }
            }"
             x-cloak
             class="fixed inset-0 z-[10001] flex items-center justify-center bg-black bg-opacity-50 font-poppins">
            <div class="bg-white rounded-lg max-w-6xl w-full p-6 shadow-lg">
                <!-- Modal Header -->
                <div class="modal-header flex items-center justify-between p-4 bg-rifleBlue  text-rifleBlue-100 rounded-t-md">
                    <div>
                        <h4 class="text-lg font-bold">
                            Selected Location:
                        </h4>
                        <p class="text-sm text-rifleBlue-100 text-opacity-50 overflow-hidden whitespace-nowrap text-ellipsis max-w-full">
                            <strong>Latitude:</strong> <span x-text="latitude"></span>
                        </p>
                        <p class="text-sm text-rifleBlue-100 text-opacity-50 overflow-hidden whitespace-nowrap text-ellipsis max-w-full">
                            <strong>Longitude:</strong> <span x-text="longitude"></span>
                        </p>
                    </div>
                  <button type="button" class="btn-close text-rifleBlue-100" @click="resetFields()">
                    <i class="fas fa-times"></i>
                  </button>
                </div>

                <!-- Modal Content -->
                <div class="bg-white p-4 grid grid-cols-2 gap-4 w-full items-start">
                    <div class="px-2">
                        <h2 class="text-gray-700 py-2 text-lg font-bold font-poppins uppercase">Configuration</h2>

                        <div class="space-y-4">

                            <div class="flex flex-col items-start">
                                <label for="orbiting-satellites">Select orbiting satellite:</label>
                                <select id="orbiting-satellites" class="text-input w-full"
                                        @change="console.log('Orbiting Satellite selected:', configuration.orbitingSatellite)"
                                        x-model="configuration.orbitingSatellite">
                                    <option></option> <!-- Placeholder for search -->
                                    {% for satellite in orbiting_satellites %}
                                        <option value="{{ satellite.id }}">{{ satellite.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col items-start border border-gray-300 p-2 rounded-md space-y-2">
                                <label for="" class="text-gray-600 font-semibold">Options:</label>

                                <div class="flex flex-row justify-center items-center space-x-2">
                                    <input id="min-elevation" type="number"
                                           class="w-8 px-1 py-[0.20rem] rounded-md border-t-0 border-b-2 border-x-0 border-b-gray-700 bg-gray-100"
                                           min="0" max="90"
                                           x-model.number="configuration.minElevation">
                                    <label for="min-elevation" class="text-sm font-semibold">deg minimum elevation</label>
                                </div>

                                <div class="flex flex-row justify-center items-center space-x-2">
                                    <input id="prediction-days" type="number"
                                           class="w-8 px-1 py-[0.20rem] rounded-md border-t-0 border-b-2 border-x-0 border-b-gray-700 bg-gray-100"
                                           min="0" max="90"
                                           x-model.number="configuration.predictionDays">
                                    <label for="prediction-days" class="text-sm font-semibold">prediction days</label>
                                </div>

                                <div class="flex flex-row justify-center items-center space-x-2">
                                    <input id="sun-illumination" type="checkbox" name="sun_illumination"
                                           class="form-checkbox mt-1 text-rifleBlue rounded"
                                           x-model="configuration.sunIllumination">
                                    <label for="sun-illumination" class="text-sm font-semibold mt-[2px]">output only if satellite is sun-illuminated</label>
                                </div>
                            </div>

                            <div class="mt-4 flex justify-end">
                                <button type="button"
                                        class="pass-prediction-button bg-rifleBlue text-rifleBlue-100 py-2 px-3 rounded disabled:bg-gray-100 disabled:text-gray-600">
                                    Pass Prediction
                                </button>
                            </div>

                        </div>

                    </div>
                    <div class="p-2 bg-gray-100 rounded-md ">
                        <h2 class="text-gray-700 text-lg font-semibold font-poppins">Select the time</h2>
                        <div id="pass-prediction-container" class="flex flex-col h-[55vh] p-2 overflow-y-auto space-y-4">
                            <div class="h-full w-full flex flex-col items-center justify-center">
                                <h4 class="text-gray-700 text-lg font-semibold font-poppins">No pass prediction done ....</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Actions -->
                <div class=" mt-1 flex justify-end space-x-2">
                    <button type="button"
                            @click="resetFields()"
                            class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">
                        close
                    </button>
                    <button type="button" class="calculate-trajectory-button bg-rifleBlue text-rifleBlue-100 py-2 px-3 rounded disabled:bg-gray-100 disabled:text-gray-600"
                            :disabled="!selectedPass"
                                @click=""
                                >Calculate trajectory</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="map" 
         data-satellite-icon="{% static 'assets/images/satellite.svg' %}" 
         data-gs-icon="{% static 'assets/images/antenna.svg' %}"
         data-latitude="{{ GS.latitude }}"
         data-longitude="{{ GS.longitude }}"
         data-name="{{ GS.name }}"
         class="h-[100%] w-[78vw] relative bg-white rounded-[10px] shadow-md ">

        <div id="search-container" class="absolute max-h-[50%] top-0 left-12 z-[1000] flex flex-col items-stretch px-4 py-4 rounded-md">
            <!-- Search Input -->
            <input
                    type="text"
                    id="locationSearch"
                    class="text-input"
                    placeholder="Search for a location..."
                    autocomplete="off"
            />
            <!-- Suggestions Dropdown -->
            <div
                    id="suggestions"
                    class="w-full bg-white border border-gray-300 rounded-md mt-1 hidden">
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    
    </script>
    <script src="{% static 'mission_plan/leaflet.js' %}" type="module"></script>
    <script src="{% static 'mission_plan/script.js' %}" type="module"></script>
{% endblock %}