

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: #b58863;
    border-radius: 5px;
}

.idle {
    color: #6c757d;
}

.executing {
    color: #007bff;
}

.completed {
    color: #28a745;
}

.failed {
    color: #dc3545;
}

.selected-tile {
    background-color: #d3c3b9;
}

/* Table and cell styling */
#satelliteTable {
    width: 100%;
    table-layout: fixed;  /* Ensures columns use specified widths */
    border-collapse: collapse;
}

#satelliteTable thead th {
    background-color: #f3f4f6;
    color: #333;
    font-weight: bold;
    padding: 12px 8px;
    text-align: left;
    border-bottom: 2px solid #e5e7eb;
    font-size: 18px;
}

#satelliteTable tbody tr {
    background-color: transparent; /* Transparent background for rows */
}

#satelliteTable tbody td {
    padding: 10px 8px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
}

[x-cloak] {
    display: none !important;
}

.dt-length {
    display: none;
}


/* Ensure all table cells are centered vertically and horizontally */
table.dataTable td, table.dataTable th {
    vertical-align: middle !important; /* Ensures vertical centering */
    /*text-align: center !important;     !* Ensures horizontal centering *!*/
}

/* Adjust padding for better alignment */
table.dataTable td, table.dataTable th {
    padding: 10px 15px; /* Adjust as needed */
}

.text-center {
    text-align: center !important;
}

/* Align content to the right in columns 4 and 5 */
.text-right {
    text-align: right !important;
}