<script src="../../static/settings/satellites.js"></script>{% extends 'main.html' %}
{% load static %}
{% load static tailwind_tags %}

{% block css %}
    {% block settings_css %}{% endblock %}
{% endblock %}

{% block content %} 
{#    todo add scrolling #}
    <div class="h-[100%] w-[17vw] p-2 flex flex-col  rounded-[10px] items-stretch">
        <div class="sidebar-tile {% if request.path == '/settings/ground_station/' %}active-sidebar{% endif %}" data-url="{% url 'ground_station' %}">
            <i class="fa-solid fa-satellite-dish text-[20px]"></i>
            <h3 class="font-bold text-lg ">Ground Station</h3>
        </div>
        <hr>
        <div class="sidebar-tile {% if request.path == '/settings/satellites/' %}active-sidebar{% endif %}" data-url="{% url 'satellites' %}">
            <i class="fa-solid fa-satellite text-[20px]"></i>
            <h3 class="font-bold text-lg ">Satellites</h3>
        </div>
        <hr>
        <div class="sidebar-tile {% if request.path == '/settings/about/' %}active-sidebar{% endif %}" data-url="{% url 'about' %}">
            <i class="fa-regular fa-circle-question text-[20px]"></i>
            <h3 class="font-bold text-lg ">About</h3>
        </div>
    </div>
    
    <div id="" 
         x-data="{ 
         openAddModal: false, 
         selectedGroup: '', 
         satellites: [], 
         selectedSatellite: '', 
         satelliteTLE: { line1: '', line2: '' },
         isLoading: false,
         fetchSatellites() {
                window.fetchSatellites(this.selectedGroup, satellites => this.satellites = satellites, isLoading => this.isLoading = isLoading);
            },
            
        updateTLEData() {
            if (!this.selectedSatellite) {
                this.satelliteTLE = { line1: '', line2: '' }; // Clear TLE if no satellite is selected
                return;
            }

            const selectedSatellite = this.satellites.find(sat => sat.name === this.selectedSatellite);
            if (selectedSatellite) {
                this.satelliteTLE.line1 = selectedSatellite.line1;
                this.satelliteTLE.line2 = selectedSatellite.line2;
            }
        },
        addSatellite() {
            const formData = new FormData(document.getElementById('add-satellite-form'));
            formData.append('line1', this.satelliteTLE.line1);
            formData.append('line2', this.satelliteTLE.line2);
            formData.append('auto_tracking', document.getElementById('add-auto-tracking').checked ? 'true' : 'false');
            window.addSatellite(formData, () => location.reload());
        } 
         }"
         class="h-[100%] w-[80vw] bg-white rounded-[10px] shadow-md">
        {% block settings_content %}{% endblock %} 
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'settings/script.js' %}"></script>
    {% block settings_js %}{% endblock %}
{% endblock %}