{% extends 'main.html' %}
{% load static %}
{% load static tailwind_tags %}

{% block css %}
    {% block settings_css %}{% endblock %}
{% endblock %}

{% block content %} 
{#    todo add scrolling #}
    <div class="h-[100%] w-[17vw] p-2 flex flex-col  rounded-[10px] items-stretch">
        <div class="sidebar-tile {% if request.path == '/settings/ground_station/' %}active-sidebar{% endif %}" data-url="{% url 'ground_station' %}">
            <h3 class="font-bold text-lg ">Ground Station</h3>
        </div>
        <hr>
        <div class="sidebar-tile {% if request.path == '/settings/satellites/' %}active-sidebar{% endif %}" data-url="{% url 'satellites' %}">
            <h3 class="font-bold text-lg ">Satellites</h3>
        </div>
        <hr>
        <div class="sidebar-tile {% if request.path == '/settings/about/' %}active-sidebar{% endif %}" data-url="{% url 'about' %}">
            <h3 class="font-bold text-lg ">About</h3>
        </div>
    </div>
    
    <div id="" class="h-[100%] w-[80vw] bg-white rounded-[10px] shadow-md">
        {% block settings_content %}{% endblock %} 
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'settings/script.js' %}"></script>
    {% block settings_js %}{% endblock %}
{% endblock %}