{% extends 'settings/index.html' %}
{% load static %}
{% load static tailwind_tags %}

{% block settings_css %}
{#    <link rel="stylesheet" href="{% static 'settings/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'settings/datatables.css' %}">
{% endblock %}

{% block settings_content %}
    <div class="h-[12%] px-3  rounded-[10px] flex flex-row justify-between items-center">
        <h2 class="font-bold text-2xl text-rifleBlue">Satellites List</h2>
        <div>
            <div @click="openAddModal = true;" class="text-button">
                <i class="fa-solid fa-plus"></i>
                <h3>Add Satellite</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="h-[88%] overflow-auto pr-1">
        <div class=" font-poppins">
            <table id="satelliteTable" class="hover">
                <thead class="bg-gray-100">
                    <tr>
                        <th>Name</th>
                        <th>TLE</th>
                        <th>Tracking</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for satellite in satellites %}
                    <tr>
                        <td>{{ satellite.name }}</td>
                        <td class="flex flex-col"> 
                            <span>{{ satellite.line1 }} </span>
                            <span>{{ satellite.line2 }}</span>
                        </td>
                        <td>
                            {% if satellite.auto_tracking %}
                                Auto
                            {% else %}
                                Manual
                            {% endif %}
                        </td>
                        <td>{{ satellite.get_orbit_status_display }}</td>
                        <td>{{ satellite.last_updated|date:'Y-m-d' }}</td>
                        <td>{{ satellite.created_at|date:'Y-m-d' }}</td>
                        <td>
                            <div x-data="{ openDropdown: false, openModal: false, openEditModal: false }" class="relative flex items-center">
                                <!-- Dropdown button -->
                                <a href="#" @click="openDropdown = !openDropdown" class="btn btn-white btn-sm flex items-center justify-center rounded-full px-3">
                                    <i class="fa-solid fa-ellipsis-vertical text-sm"></i>
                                </a>

                                <!-- Dropdown menu -->
                                <ul x-show="openDropdown" 
                                    @click.away="openDropdown = false" 
                                    x-cloak
                                    class="dropdown-menu absolute right-0 mt-2 bg-gray-50 rounded-lg shadow-lg p-3 z-10">
                                    <li>
                                        <a class="dropdown-item flex items-center py-2 px-5 rounded-lg hover:bg-gray-100" href="javascript:void(0);" 
                                           @click="openEditModal = true; openModal = false; openDropdown = false; $nextTick(() => { 
                                                // Pre-fill form with satellite data
                                                document.getElementById('edit-satellite-id').value = '{{ satellite.id }}';
                                                document.getElementById('edit-satellite-name').value = '{{ satellite.name }}'; 
                                                document.getElementById('edit-line1').value = '{{ satellite.line1 }}'; 
                                                document.getElementById('edit-line2').value = '{{ satellite.line2 }}'; 
                                                document.getElementById('edit-tle-group').value = '{{ satellite.tle_group }}'; 
                                                document.getElementById('edit-orbit-status').value = '{{ satellite.orbit_status }}'; 
                                                document.getElementById('edit-auto-tracking').checked = {{ satellite.auto_tracking|yesno:"true,false" }}; 
                                              })">
                                            <i class="fa-regular fa-pen-to-square mr-2"></i>Edit
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Use the same openModal state for the modal -->
                                        <a class="dropdown-item flex items-center py-2 px-5 rounded-lg hover:bg-gray-100" href="javascript:void(0);" 
                                           @click="openModal = true; openDropdown = false; $nextTick(() => { 
                                                document.getElementById('delete-satellite-id').value = '{{ satellite.id }}';
                                              })">
                                            <i class="fa-regular fa-trash-can mr-2"></i>Delete
                                        </a>
                                    </li>
                                </ul>

                                <!-- Delete Modal -->
                                <div x-show="openModal" 
                                    @keydown.escape.window="openModal = false" 
                                    @click.away="openModal = false" 
                                    x-cloak 
                                    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
                                    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-6">
                                        <form id="delete-satellite-form" action="javascript:void(0);" method="post">
                                            {% csrf_token %}
                                            <!-- Hidden satellite_id field -->
                                            <input type="hidden" id="delete-satellite-id" name="satellite_id">
                                            <div class="text-center">
                                                <span class="text-4xl text-red-600">
                                                    <i class="ti ti-trash-x"></i>
                                                </span>
                                                <h4 class="mt-4 text-lg font-semibold">Confirm Deletion</h4>
                                                <p class="mt-2 text-gray-600">You want to delete this satellite. This can't be undone once deleted.</p>
                                                <div class="mt-6 flex justify-center">
                                                    <a href="javascript:void(0);" @click="openModal = false" class="bg-gray-200 text-gray-800 px-6 py-2 rounded-md mr-4">Cancel</a>
                                                    <button type="submit" class="bg-red-600 text-white px-6 py-2 rounded-md">Yes, Delete</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Delete Modal -->
                                
                                <!-- Add Satellite TLE Modal -->
                                <div 
                                    x-show="openEditModal" 
                                    @keydown.escape.window="openEditModal = false" 
                                    @click.away="openEditModal = false" 
                                    x-cloak    
                                    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 font-poppins">
                                  <div class="bg-white rounded-lg shadow-lg max-w-4xl w-full p-6">
                                    <div class="modal-header flex items-center justify-between p-4 bg-rifleBlue text-paraColor rounded-t-md">
                                      <h4 class="text-lg font-semibold">Edit Satellite TLE</h4>
                                      <button type="button" class="btn-close text-white" @click="openEditModal = false">
                                        <i class="fas fa-times"></i>
                                      </button>
                                    </div>
                                    <form id="edit-satellite-form" action="javascript:void(0);" method="post" class="bg-white p-6">
                                        {% csrf_token %}
                                        <input type="hidden" id="edit-satellite-id" name="satellite_id">
                                    
                                      <div class="space-y-4">
                                        <div class="flex flex-col items-start">
                                            <label class="text-gray-700 text-sm">Satellite Name</label>
                                            <input id="edit-satellite-name" type="text" name="name" class="form-input mt-1 block w-full rounded-md border-gray-300" placeholder="Enter Satellite Name" required>
                                          </div>
                                      
                                        <div class="grid grid-cols-1 gap-4 mt-4">
                                          <div class="flex flex-col items-start">
                                            <label class="block text-gray-700">TLE Line 1</label>
                                            <input id="edit-line1" type="text" name="line1" class="form-input mt-1 block w-full rounded-md border-gray-300" placeholder="Enter TLE Line 1">
                                          </div>
                                          <div class="flex flex-col justify-start items-start">
                                            <label class="block text-gray-700">TLE Line 2</label>
                                            <input id="edit-line2" type="text" name="line2" class="form-input mt-1 block w-full rounded-md border-gray-300" placeholder="Enter TLE Line 2">
                                          </div>
                                        </div>
                                
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                          <div class="flex flex-col items-start">
                                            <label class="block text-gray-700">TLE Group</label>
                                            <select id="edit-tle-group" name="tle_group" class="form-select mt-1 block w-full rounded-md border-gray-300">
                                              <option value="">Select Group</option>
                                              {% for group_code, group_name in SatelliteTLE.TLE_GROUP_CHOICES %}
                                              <option value="{{ group_code }}">{{ group_name }}</option>
                                              {% endfor %}
                                            </select>
                                          </div>
                                          <div class="flex flex-col items-start">
                                            <label class="block text-gray-700">Orbit Status</label>
                                            <select id="edit-orbit-status" name="orbit_status" class="form-select mt-1 block w-full rounded-md border-gray-300">
                                              <option value="orbiting">Orbiting</option>
                                              <option value="de-orbited">De-orbited</option>
                                            </select>
                                          </div>
                                          <div class="flex flex-row space-x-2 ">
                                            <input id="edit-auto-tracking" type="checkbox" name="auto_tracking" class="form-checkbox mt-1 text-rifleBlue rounded">
                                              <label class="block text-rifleBlue mt-[2px]">Auto Tracking</label>
                                          </div>
                                        </div>
                                      </div>
                                
                                      <div class="modal-footer flex justify-end mt-6">
                                        <button type="button" class="btn bg-gray-200 mr-2 py-2 px-3 rounded" @click="openEditModal = false">Cancel</button>
                                        <button type="submit" class="btn bg-rifleBlue text-paraColor py-2 px-3 rounded">Save Satellite TLE</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                                <!-- End Satellite TLE Modal -->

                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Add Satellite Modal -->
    <div >
        <div 
            x-show="openAddModal" 
            @keydown.escape.window="openAddModal = false" 
            @click.away="openAddModal = false" 
            x-cloak    
            class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 font-poppins">
            <div class="bg-white rounded-lg shadow-lg max-w-4xl w-full p-6">
                <div class="modal-header flex items-center justify-between p-4 bg-rifleBlue text-paraColor rounded-t-md">
                    <h4 class="text-lg font-semibold">Add New Satellite</h4>
                    <button type="button" class="btn-close text-white" @click="openAddModal = false">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <form id="add-satellite-form" action="javascript:void(0);" method="post" class="bg-white p-6">
                    {% csrf_token %}
                    <div class="space-y-4">
                        <div class="flex flex-col items-start">
                            <label class="text-gray-700 text-sm">TLE Group</label>
                            <select name="tle_group" x-model="selectedGroup" class="form-select mt-1 block w-full rounded-md border-gray-300" @change="fetchSatellites()">
                                <option class="hover:bg-gray-200" value="">Select Group</option>
                                {% for group_code, group_name in SatelliteTLE.TLE_GROUP_CHOICES %}
                                <option class="hover:bg-rifleBlue" value="{{ group_code }}">{{ group_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
    
                        <!-- Button to Search Satellites -->
                        <div class="my-4">
                            <button type="button" @click="fetchSatellites()" class="text-button " :disabled="!selectedGroup || isLoading">
                                <span x-show="!isLoading">Search Satellites</span>
                                <span x-show="isLoading">Loading...</span>
                            </button>
                        </div>
    
                        <!-- Dropdown for Fetched Satellites -->
                        <template x-if="satellites.length > 0">
                            <div class="flex flex-col items-start">
                                <label class="text-gray-700 text-sm">Select Satellite</label>
                                <select name="satellite_name" x-model="selectedSatellite" class="form-select mt-1 block w-full rounded-md border-gray-300" @change="updateTLEData()">
                                    <option value="" class="hover:bg-gray-200">Select a Satellite</option>
                                    <template x-for="satellite in satellites" :key="satellite.name">
                                        <option :value="satellite.name" x-text="satellite.name" class="hover:bg-rifleBlue"></option>
                                    </template>
                                </select>
                            </div>
                        </template>
                    
                        <!-- Display the TLE data (line1 and line2) -->
                        <div class="flex flex-col items-start" x-show="selectedSatellite">
                            <label class="text-gray-700 text-sm">TLE Data</label>
                            <div class="bg-gray-100 p-2 rounded-md">
                                <p><strong>Line 1:</strong> <span x-text="satelliteTLE.line1"></span></p>
                                <p><strong>Line 2:</strong> <span x-text="satelliteTLE.line2"></span></p>
                            </div>
                        </div>
    
                        <!-- Auto Tracking Checkbox -->
                        <div class="flex items-center space-x-2">
                            <input id="add-auto-tracking" type="checkbox" name="auto_tracking" class="form-checkbox mt-1 text-rifleBlue rounded">
                            <label for="add-auto-tracking" class="block text-rifleBlue mt-[2px]">Auto Tracking</label>
                        </div>
                    </div>
    
                    <!-- Modal Footer -->
                    <div class="modal-footer flex justify-end mt-6">
                        <button type="button" class="bg-gray-200 mr-2 py-2 px-3 rounded" @click="openAddModal = false">Cancel</button>
                        <button type="button" class="bg-rifleBlue text-paraColor py-2 px-3 rounded" @click="addSatellite()">Add Satellite</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block settings_js %}
    <script src="{% static 'settings/datatables.js' %}"></script>
    <script src="{% static 'settings/satellites.js' %}"></script>
{% endblock %}
