@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply bg-rifleBlue-50 text-black;
}

.sidebar-tile{
    @apply w-full flex flex-row items-center px-3 py-2 my-1 hover:bg-rifleBlue-100
    hover:text-rifleBlue rounded-[10px] text-rifleBlue transition duration-500
    space-x-2
}

.active-sidebar {
    @apply  bg-rifleBlue-100 text-rifleBlue;
}


.nav-item {
    @apply flex flex-row items-center ml-[10px] px-[10px] py-[6px] hover:bg-white hover:text-black transition duration-500
    rounded-[8px] space-x-2
}

.nav-item2{
    @apply px-[10px] py-[5px] flex flex-row hover:bg-rifleBlue-100 hover:text-rifleBlue transition duration-500 rounded-[8px]
    items-center align-middle space-x-2
}

.active-nav-item2{
    @apply border-b-4 border-rifleBlue
}

.satellite-position-tile {
    @apply w-full px-3 py-2 my-1 hover:bg-gray-100 rounded-[10px]
}

.text-button {
    @apply font-bold px-3 py-2 flex flex-row bg-rifleBlue justify-center items-center space-x-2 text-rifleBlue-100 rounded-[10px]
    hover:bg-lytBlue hover:text-white disabled:bg-gray-100 disabled:text-gray-600 transition duration-500
}

.text-input {
    @apply px-3 py-2 mt-1 mb-2 border-[1px] border-gray-300 rounded-md focus:ring-rifleBlue-700 focus:border-rifleBlue-700
}

.storage-card-tile {
    @apply  mb-3 p-4 bg-white flex flex-col rounded-[10px] shadow hover:border-[1px] hover:border-rifleBlue
    transition duration-500
}

.sat-item{
    @apply flex flex-col px-3 py-2 my-1 hover:bg-rifleBlue-100 hover:text-rifleBlue hover:border-[1px] hover:border-rifleBlue-100 rounded-[10px]
}

.errorlist{
    @apply text-red-700 text-sm
}

/* Styling Select2 dropdown options */
.select2-container--default .select2-results__option {
    @apply px-3 py-2 transition-colors duration-200 rounded-md; /* Base styles for options */
}

.select2-container--default .select2-results__option:hover {
    @apply bg-rifleBlue-600 text-white; /* Hover effect: rifleBlue background and white text */
}

/* Select2 input field styling */
.select2-search__field {
    @apply text-input border-gray-300 focus:ring-rifleBlue-700 focus:border-rifleBlue-700; /* Reuse text-input styles */
    line-height: 2rem; /* Align text vertically (if needed) */
}

/* Hover effect for the Select2 input field */
.select2-container--default .select2-selection--single:hover,
.text-input:hover{
    @apply border-rifleBlue-500; /* Hover border color */
}

/* Focus effect for the Select2 input field */
.select2-container--default .select2-selection--single:focus {
    @apply ring-2 ring-rifleBlue-700; /* Add a strong ring on focus */
}

.pass-prediction-tile{
    @apply px-3 py-2 mb-3 bg-white hover:bg-gray-100 rounded-lg shadow
}

.active-pass-prediction-tile {
    @apply bg-rifleBlue-100 text-rifleBlue border-2 border-rifleBlue;
}

