<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
{% load webpush_notifications %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apogee</title>
    {% tailwind_css %}

    <link rel="icon" type="image/svg+xml" href="{% static 'assets/icons/light_apogee.svg' %}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">
    {% block css %}{% endblock %}

    {% webpush_header %}
</head>
<body class="h-screen w-screen m-0 p-0 overflow-hidden">
    <main  class="flex-col h-screen ">
        <div class="nav-bar h-[8vh] px-5 bg-rifleBlue text-rifleBlue-100 font-poppins flex flex-row justify-between items-center relative">
            <div class="logo-details flex flex-row items-center">
                 <img src="{% static 'assets/icons/light_apogee.svg' %}" alt="Logo" class="logo-icon w-16 inline-block mr-2">
              <span class="logo_name font-bold text-xl ">Apogee</span>
            </div>
            <ul class="nav-links flex flex-row" id="nav-links">
                <li 
                    x-data="{ hover: false }" 
                    id="home" 
                    class="nav-item {% if request.path == '/' %}active{% endif %}" 
                    data-url="{% url 'home' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <i 
                            x-cloak
                        class="fa-solid fa-house text-[18px]" 
                        :class="{ 'hidden': !hover && !document.querySelector('#home').classList.contains('active') }"
                    ></i>
                    <h3 class="font-semibold text-md">Home</h3>
                </li>
                <li 
                    x-data="{ hover: false }" 
                    id="predictions" 
                    class="nav-item {% if request.path == '/predictions/' %}active{% endif %}" 
                    data-url="{% url 'predictions' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <i x-cloak
                        class="fa-solid fa-satellite-dish text-[18px]" 
                        :class="{ 'hidden': !hover && !document.querySelector('#predictions').classList.contains('active') }"
                    ></i>
                    <h3 class="font-semibold text-md">Predictions</h3>
                </li>
                <li 
                    x-data="{ hover: false }" 
                    id="mission_plan" 
                    class="nav-item {% if request.path == '/mission_plan/' %}active{% endif %}" 
                    data-url="{% url 'mission_plan' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <i x-cloak
                       class="fa-solid fa-map text-[18px]"
                       :class="{ 'hidden': !hover && !document.querySelector('#mission_plan').classList.contains('active') }"
                    ></i>
                    <h3 class="font-semibold text-md">Mission Plan</h3>
                </li>
                <li
                    x-data="{ hover: false }" 
                    id="storage" 
                    class="nav-item {% if request.path == '/storage/' %}active{% endif %}" 
                    data-url="{% url 'storage' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <i x-cloak
                        class="fa-solid fa-database text-[18px]" 
                        :class="{ 'hidden': !hover && !document.querySelector('#storage').classList.contains('active') }"
                    ></i>
                    <h3 class="font-semibold text-md">Storage</h3>
                </li>
                <li 
                    x-data="{ hover: false }" 
                    id="settings" 
                    class="nav-item {% if request.path == '/settings/ground_station/' or request.path == '/settings/satellites/'  or request.path == '/settings/notifications/' or request.path == '/settings/about/' %}active{% endif %}" 
                    data-url="{% url 'ground_station' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <i x-cloak
                        class="fa-solid fa-gear text-[18px]" 
                        :class="{ 'hidden': !hover && !document.querySelector('#settings').classList.contains('active') }"
                    ></i>
                    <h3 class="font-semibold text-md">Settings</h3>
                </li>
                <li 
                    x-data="{ hover: false }"
                    id="profile" 
                    class="nav-item border-2 border-gray-300 hover:border-[#87d1d9] hover:bg-rifleBlue-50 {% if request.path == '/profile/' %}active{% endif %}" 
                    data-url="{% url 'profile' %}" 
                    @mouseover="hover = true" 
                    @mouseleave="hover = false"
                >
                    <!-- User Profile Image or Icon -->
                    {% if user.is_authenticated and user.profile.profile_image %}
                        <img 
                            src="{{ user.profile.profile_image.url }}" 
                            alt="User Profile" 
                            class="w-6 h-6 rounded-full object-cover"
                        >
                    {% else %}
                        <i 
                            class="fa-solid fa-user text-[18px]" 
                        ></i>
                    {% endif %}
                    <!-- User Name -->
                    <h3 x-cloak
                        class="font-semibold text-md" 
                        :class="{ 'hidden': !hover && !document.querySelector('#profile').classList.contains('active') }"
                    >
                        {% if user.is_authenticated %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            Guest
                        {% endif %}
                    </h3>
                </li>

            </ul>

        </div>

        <div class="main-section h-[89vh] px-3 pt-3 pb-1 flex flex-row justify-between bg-backgroundColor relative overflow-hidden">
            <div class="w-full h-full overflow-auto relative">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div x-data="{
                openAbout: false,
            }" class="h-[2vh] py-1 flex flex-row justify-center items-center bg-backgroundColor text-sm text-gray-500 space-x-2">
            <div class="flex  space-x-1"><span>University of Zimbabwe</span></div>
             <span>|</span>
            <div @click="openAbout = true" class="flex justify-center items-center text-sm text-rifleBlue-500 hover:underline space-x-1"><i class="fa-regular fa-copyright"></i><span>Blessed B Masuku</span></div>

            <!-- About Modal -->
            <div x-show="openAbout"
                 @keydown.escape.window="openAbout = false"
                 x-cloak
                 class="fixed inset-1 z-[10000] flex items-center justify-center bg-black bg-opacity-50 font-poppins">
                <div @click.away="openAbout = false" class="bg-white rounded-lg max-w-6xl w-full p-6 shadow-lg">
                    <!-- Modal Header -->
                    <div class="modal-header flex items-center justify-between p-4 bg-rifleBlue text-rifleBlue-100 rounded-t-md">
                        <div>
                            <h4 class="text-lg font-bold">
                                About
                            </h4>
                        </div>
                        <button type="button" class="btn-close text-rifleBlue-100" @click="openAbout = false">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <!-- Modal Content -->
                    <div class="bg-white p-4 grid grid-cols-1 gap-4 w-full items-start">
                        <div class="px-2">
                            <p class="text-gray-600 py-1">
                                This system was developed by Blessed B. Masuku, a student at the University of Zimbabwe.
                            </p>
                            <p class="text-gray-600 py-1">
                                The satellite tracking software is a comprehensive tool that caters to both amateur
                                satellite enthusiasts and professional operators. By using a user-friendly web
                                interface, users can easily access real-time satellite data.
                            </p>
                            <p class="text-gray-600 py-1">
                                The mission planning section empowers users to strategize their satellite operations
                                effectively while ensuring collaboration through telemetry data sharing via a dedicated
                                Telegram group.
                            </p>
                        </div>
                        <div class="p-2 bg-gray-100 rounded-md">
                            <h3 class="text-gray-700 text-md font-bold mb-2">Features</h3>
                            <ul class="space-y-2 text-gray-600">
                                <li class="flex items-center">
                                    <i class="fas fa-bullseye mr-2"></i>
                                    Predictive algorithms ensure accurate satellite tracking.
                                </li>
                                <li class="flex items-center">
                                    <i class="fas fa-bell mr-2"></i>
                                    Provides real-time notifications for timely observations.
                                </li>
                                <li class="flex items-center">
                                    <i class="fas fa-users mr-2"></i>
                                    Enhances collaboration through Telegram integration.
                                </li>
                                <li class="flex items-center">
                                    <i class="fas fa-chart-line mr-2"></i>
                                    Mission planning for efficient satellite resource utilization.
                                </li>
                                <li class="flex items-center">
                                    <i class="fas fa-globe mr-2"></i>
                                    Useful for environmental monitoring and space research.
                                </li>
                            </ul>
                        </div>
                        <div class="p-2 bg-gray-100 rounded-md">
                            <h3 class="text-gray-700 text-md font-bold mb-2">Find Me On</h3>
                            <ul class="space-y-2 text-gray-600">
                                <li class="flex items-center">
                                    <i class="fab fa-linkedin mr-2 text-blue-700"></i>
                                    <a href="https://www.linkedin.com/in/blessed-masuku-38308619b/" target="_blank"
                                       class="hover:underline">
                                        LinkedIn
                                    </a>
                                </li>
                                <li class="flex items-center">
                                    <i class="fa-solid fa-envelope mr-2"></i>
                                    <a href="mailto:blezzed.15@gmail.com" target="_blank"
                                       class="hover:underline">
                                        Email
                                    </a>
                                </li>
                                <li class="flex items-center">
                                    <i class="fab fa-github mr-2 text-gray-800"></i>
                                    <a href="https://github.com/blezzed" target="_blank" class="hover:underline">
                                        GitHub
                                    </a>
                                </li>
                                <li class="flex items-center">
                                    <i class="fa-brands fa-facebook mr-2 text-blue-400"></i>
                                    <a href="https://www.facebook.com/bless.bless.5095110" target="_blank" class="hover:underline">
                                        Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal Actions -->
                    <div class="mt-1 flex justify-end space-x-2">
                        <button type="button"
                                @click="openAbout = false"
                                class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-container" class="fixed top-4 right-4 z-50 space-y-4"></div>




    </main>
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js"></script>
    <script src="{% static 'script.js' %}" type="module"></script>
{#    <script src="http://localhost:8001/static/django-browser-reload/reload-listener.js"></script>#}
    {% block js %}{% endblock %}
</body>
</html>