<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satellite Tracking</title>
    {% tailwind_css %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">
    {% block css %}{% endblock %}

    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="h-screen w-screen m-0 p-0 overflow-hidden">
    <main class="flex-col h-screen ">
        <div class="nav-bar h-[8vh] px-5 bg-rifleBlue text-paraColor font-poppins flex flex-row justify-between items-center ">
            <div class="logo-details">
              <span class="logo_name font-bold text-xl ">Apogee</span>
            </div>
            <ul class="nav-links flex flex-row" id="nav-links">
                <li id="home" class="nav-item active">Home</li>
                <li id="predictions" class="nav-item">Predictions</li>
                <li id="telemetry" class="nav-item">Telemetry</li>
                <li id="storage" class="nav-item">Storage</li>
            </ul>
        </div>
    
        <div class="main-section h-[92vh] p-3 flex flex-row justify-between bg-gray-100">
        {% block content %}
            
         {% endblock %} 
        </div>
    </main>
{#    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>#}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script.js' %}" type="module"></script>
    {% block js %}{% endblock %}
</body>
</html>